@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');




/******************SECTION*****************/

.home{
    min-height: 100vh;
    background: linear-gradient(rgba(198, 59, 250,.8)),(rgba(198, 59, 250,.8)), url(../img/violet.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
    text-align: center;
}

.home .content h1{
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem #000;
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color: var(--green);
    padding: 1rem 25rem;
}

.home .content button{
    height: 4rem;
    width: 20rem;
border-radius: 5rem;
background: var(--aqua);
color: #fff;
font-size: 2rem;
cursor: pointer;
transition: .2s;
border: none;
box-shadow: 0 .3rem 1rem #000;
}

.home .content button:hover{
    letter-spacing: .2rem;
}

.home .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home .box-container .box{
    height: 20rem;
    width: 25rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem #000;
    margin: 2rem;
    cursor: pointer;
}

.home .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: var(--green);
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s;
}

.home .box-container .box h3{
    font-size: 2rem;
    color: var(--aqua);
    transition: .2s;
}

.home .box-container .box p{
    font-size: 1.3rem;
   padding: .7rem 2rem;
   color: #666;
}

.home .box-container .box:hover i {
background: var(--green);
}

.home .box-container .box:hover h3 {
    color: var(--aqua);

}

.home::before{
    content: '';
    position: absolute;
    bottom: -25rem; left: 50%;
    transform: translateX(-50%);
    border-top: 70vh solid #fff;
    width: 120%;
    border-radius: 50%;
    z-index: -1;
}