
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');


/******************HEADER NAVBAR*****************/


:root{
    --green:#35ff71;
    --aqua:#00eaff;
}

body{
    background-color: #c7c7c7;
}

*{
    font-family: 'Montserrat', sans-serif;
text-transform: capitalize;
text-decoration: none;
outline: none;
margin: 0; padding: 0;
box-sizing: border-box;
}

*::selection{
    background: var(--green);
    color: #fff;
}

html{
    font-size: 65.5%;
    overflow-x: hidden;
}


header{
    width: 96%;
    background: #fff;
position: fixed;
top: 2rem; left: 50%;
transform: translateX(-50%);
border-radius: 5rem;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 2rem;
z-index: 1000;
transition: .2s;
}

.header-active{
    top: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0, 0,.3);
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li  {
    margin:0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color:var(--aqua);
    transition: .2s;
}

header .navbar ul li a:hover,
header .navbar ul li .active {
    color: var(--green);
}

header .logo {
    font-size: 2.5rem;
    color: var(--green);
    text-transform: uppercase;
    position: relative;
    left: 5rem;
}

header .logo i{
    color: var(--green);
    padding: 0 .2rem;
    position: relative;
    left: 12rem;
}

header .fa-bars{
    font-size: 3rem;
    color:var(--green);
    cursor: pointer;
    display: none;
    transition: .2s;
}

.input {
    visibility: hidden;
  }
  
  .label {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .circle {
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    animation: toggleOff 0.4s linear forwards;
  }
  
  .input:checked + .label {
    background-color: white;
  }
  
  .input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
  }
  @keyframes toggleOn {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(40px);
    }
  }
  
  @keyframes toggleOff {
    0% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0);
    }
  }  
