
/***********************MEDIA QUERIES*****************/
@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    header .logo{
        margin-left: 2rem;
    }

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: -100rem; left: 0;
        width: 100%;
        background: #fff;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li{
        margin: 1rem;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle{
        top: 5.5rem;
        opacity: 1;
    }

    .home .content p {
        top: 1.5rem 2rem;
    }

    .home::before{
        display: none;
    }

    .about .row {
        flex-flow: column-reverse;
    }

    .about .row .image img{
        height: 60vh;
        width: 90vh;
    }

    .about .row .content {
        padding: 0 2.5rem;
    }

    .courses .box-container{
        width: 100%;

    }

    .contact .row{
        flex-flow: column;
    }

    .contact .row .image img{
height: 50vh;
width: 90vh;
    }

    .contact .row .form-container{
padding: 0;     
   width: 90%;
    }
}


