@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');




/******************SECTION TEACHER***********/

.teacher{
    background: #f9f9f9f9;
}

.teacher .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.teacher .card-container .card{
    padding: 2rem;
    margin: 2rem;
    background: #fff;
text-align: center;
width: 28rem;
box-shadow: 0 .3rem .5rem #000;
}

.teacher .card-container .card img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale();
}

.teacher .card-container .card:hover img{
    filter: grayscale(0);
}

.teacher .card-container .card h3{
    color: var(--aqua);
    font-size: 2rem;
    padding: .5rem 0;
}

.teacher .card-container .card p{
    font-size: 1.7rem;
    color: #666;

}

.teacher .card-container .card .icons a{
    font-size: 1.9rem;
    padding: 1.5rem;
    color: var(--green);
}

.teacher .card-container .card .icons a:hover{
    color: var(--aqua);
}